h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo 2", sans-serif;
  font-weight: 100;
  margin: 1em 0 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
