:host {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  background: #101010;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: min-content minmax(0, 1fr);

  grid-template-areas:
    "time    speak   date"
    "temp    temp    temp"
    "weather weather cpu-temp";
}

.tile {
  display: grid;
  align-content: center;
  justify-content: center;

  box-shadow: 0 0 0.25rem #000;
  background: #333;
  color: #eee;
  padding: 1rem;
  border: none;

  &__time {
    grid-area: time;
    font-size: 7em;
    line-height: 1em;
    font-family: "JetBrains Mono", monospace;
  }

  &__wake-lock {
    grid-area: wake-lock;
  }

  &__cpu-temp {
    grid-area: cpu-temp;
  }

  &__speak {
    grid-area: speak;
    justify-content: normal;
  }

  &__temp {
    grid-area: temp;
    font-size: 40em;
    line-height: 1em;
  }

  &__date {
    grid-area: date;
    font-size: 2em;
    display: grid;
    grid-template-areas:
      "dow   date"
      "month date"
      "year  year";
    line-height: 1em;
    align-items: center;
    gap: 0 0.5ch;

    & > * {
      line-height: 1em;
    }

    &__dow {
      grid-area: dow;
    }
    &__date {
      grid-area: date;
      font-size: 3em;
      font-family: "JetBrains Mono", monospace;
    }
    &__month {
      grid-area: month;
      opacity: 0.5;
    }
    &__year {
      padding-top: 0.5em;
      grid-area: year;
      opacity: 0.25;
      text-align: center;
      font-size: 0.5em;
      display: flex;
      justify-content: space-between;
    }
  }

  &__typing {
    grid-area: typing;
    text-align: center;
    font-size: 10rem;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
  }

  &__weather {
    grid-area: weather;
    display: flex;
    justify-content: space-around;
    gap: 1em;
  }
}

.temp {
  display: flex;
  align-items: flex-start;
  font-family: "JetBrains Mono", monospace;

  &--active {
    color: #090;
  }

  .deg {
    opacity: 0.33;
    font-size: 0.5em;
    line-height: 1em;
  }
}

.time {
  display: flex;

  .dark {
    opacity: 0.25;
  }

  .ampm {
    display: flex;
    flex-direction: column;
    line-height: 1em;
    font-size: 0.46em;
    text-transform: capitalize;
    padding-left: 0.5em;
  }
}

.speak {
  display: grid;
  grid-template-columns: 1fr min-content;

  &__input {
    box-sizing: border-box;
    height: 2em;
    background: none;
    border: solid 1px #eee;
    border-width: 0 0 1px;
    border-radius: 0;
    padding: 0.25em 1em 0.25em 0;
    color: #eee;
  }

  &__button {
    cursor: pointer;
    box-sizing: border-box;
    height: 2em;
    background: none;
    border: solid 1px #eee;
    border-radius: 0;
    padding: 0.25em 1em;
    color: #eee;
  }
}
