:host {
  display: grid;
  padding: 1rem;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0 2rem;
}

.start-controls {
  display: grid;
  align-content: center;
  margin: 0 0 5rem;
}

.input-label {
  opacity: 0.75;
  text-align: center;
  font-size: 1em;
  margin: 0;
}

.controls {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  // margin: 0 0 1rem;
  font-size: 2em;
}

.input {
  text-align: center;
  border: solid 1px #eee;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0.5em 0.25em;
  height: 2em;
  width: 100%;
  line-height: 1em;
  font-family: "JetBrains Mono", mono;
  font-size: 3em;
}

.button {
  border: none;
  background: #09f;
  color: #eee;
  border-radius: 0;
  box-sizing: border-box;
  padding: 0.5em;
  height: 2em;
  line-height: 1em;
  font-size: 1em;

  &--secondary {
    border: solid 0.05em #09f;
    color: #09f;
    background: none;
  }
}

.is-playing {
  opacity: 0.5;
  text-align: center;
}

.wordle-game {
  --text-invert: #eee;
  --letter-border: #c9ccd1;
  --letter-unset: #ffffff00;
  --letter-absent: #65696a;
  --letter-present: #bca746;
  --letter-correct: #599d52;
  --letter-active-text-color: var(--text-invert);

  $gap: 0.2em;

  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin: 0 0 1rem;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: $gap;

    &__letter {
      $size: 1.5em;

      width: $size;
      height: $size;
      line-height: $size;
      border: solid 0.1em var(--letter-border);
      text-align: center;
      font-family: "JetBrains Mono", mono;
      display: block;

      &--absent,
      &--present,
      &--correct {
        color: var(--letter-active-text-color);
        border-color: transparent;
      }

      &--absent {
        background-color: var(--letter-absent);
      }

      &--present {
        background-color: var(--letter-present);
      }

      &--correct {
        background-color: var(--letter-correct);
      }
    }
  }
}

.brag {
  width: 100%;
  // height: 8 * 1.2em;
  line-height: 1.2em;
  box-sizing: border-box;
  border-left: solid 3px #00000077;
  padding: 0 1ch;
  font-size: 2.5em;
}

.after-game-controls {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;

  & > * {
    flex: 1;
  }
}
